


body {
  background-image: url("../img/pexels-pixabay-355770.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-color: #000000;
  backdrop-filter: (3px);
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  color:#ffffff; 
}

body::-webkit-scrollbar {
  display: none;
}
 
.hottie {
  text-align: center;
  color:#ffffff;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}



@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.water {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.hehe {
  margin-top: 1000px;
  text-align: center;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 40px;
}

.fttextdiv {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.FtText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #ffffff;
  position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


.rounded-corners {
  color:#ffffff;
  border-radius: 7px;
border-radius: 7px;
background: #212121;
box-shadow:  18px 18px 17px #0d0d0d,
             -18px -18px 17px #353535;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px 20px;
    position: absolute;
    margin-top: 175px;
    margin-right: 0px;
    border-color: transparent;
    margin-left: 100px;
    top: 60%;
    left: 5%;
    transform: translateX(-50%) translateY(-50%);
  }

  .rounded-corners1 {
    color:#ffffff;
    border-radius: 7px;
border-radius: 7px;
background: #212121;
box-shadow:  18px 18px 17px #0d0d0d,
             -18px -18px 17px #353535;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px 45px;
    position: absolute;
    margin-top: 175px;
    margin-right: 0px;
    border-color: transparent;
    margin-left: 100px;
    top: 60%;
    left: 20%;
    transform: translateX(-50%) translateY(-50%);
  }

  .rounded-corners2 {
    color:#ffffff;
border-radius: 7px;
background: #212121;
box-shadow:  18px 18px 17px #0d0d0d,
             -18px -18px 17px #353535;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px 45px;
    position: absolute;
    margin-top: 175px;
    margin-right: 0px;
    border-color: transparent;
    margin-left: 100px;
    top: 60%;
    left: 35.5%;
    transform: translateX(-50%) translateY(-50%);
  }

  .rounded-corners3 {
    color:#ffffff;
border-radius: 7px;
background: #212121;
box-shadow:  18px 18px 17px #0d0d0d,
             -18px -18px 17px #353535;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px 75px;
    position: absolute;
    margin-top: 175px;
    margin-right: 0px;
    border-color: transparent;
    margin-left: 100px;
    top: 60%;
    left: 51.3%;
    transform: translateX(-50%) translateY(-50%);
  }

  .rounded-corners4 {
    color:#ffffff;
border-radius: 7px;
background: #212121;
box-shadow:  18px 18px 17px #0d0d0d,
             -18px -18px 17px #353535;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px 60px;
    position: absolute;
    margin-top: 175px;
    margin-right: 0px;
    border-color: transparent;
    margin-left: 100px;
    top: 60%;
    left: 67.2%;
    transform: translateX(-50%) translateY(-50%);
  }
  
  .rounded-corners5 {
    color:#ffffff;
    border-radius: 7px;
background: #212121;
box-shadow:  18px 18px 17px #0d0d0d,
             -18px -18px 17px #353535;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px 75px;
    position: absolute;
    margin-top: 175px;
    margin-right: 0px;
    border-color: transparent;
    margin-left: 90px;
    top: 60%;
    left: 83.2%;
    transform: translateX(-50%) translateY(-50%);
  }

  .rounded-corners6 {
    color:#ffffff;
    border-radius: 7px;
border-radius: 7px;
background: #212121;
box-shadow:  18px 18px 17px #0d0d0d,
             -18px -18px 17px #353535;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px 50px;
    position: absolute;
    margin-top: 105px;
    margin-right:0px;
    border-color: transparent;
    margin-left: 100px;
    top: 90%;
    left: 5%;
    transform: translateX(-50%) translateY(-50%);
  }

  .rounded-corners7 {
    color:#ffffff;
    border-radius: 7px;
border-radius: 7px;
background: #212121;
box-shadow:  18px 18px 17px #0d0d0d,
             -18px -18px 17px #353535;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px 47px;
    position: absolute;
    margin-top: 105px;
    margin-right:0px;
    border-color: transparent;
    margin-left: 100px;
    top: 90%;
    left: 20%;
    transform: translateX(-50%) translateY(-50%);
  }

  .rounded-corners8 {
    color:#ffffff;
    border-radius: 7px;
border-radius: 7px;
background: #212121;
box-shadow:  18px 18px 17px #0d0d0d,
             -18px -18px 17px #353535;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px 35px;
    position: absolute;
    margin-top: 105px;
    margin-right:0px;
    border-color: transparent;
    margin-left: 100px;
    top: 90%;
    left: 35.5%;
    transform: translateX(-50%) translateY(-50%);
  }

    .rounded-corners9 {
    color:#ffffff;
    border-radius: 7px;
border-radius: 7px;
background: #212121;
box-shadow:  18px 18px 17px #0d0d0d,
             -18px -18px 17px #353535;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px 54px;
    position: absolute;
    margin-top: 105px;
    margin-right:0px;
    border-color: transparent;
    margin-left: 100px;
    top: 90%;
    left: 51.3%;
    transform: translateX(-50%) translateY(-50%);
  }

      .rounded-corners10 {
    color:#ffffff;
    border-radius: 7px;
border-radius: 7px;
background: #212121;
box-shadow:  18px 18px 17px #0d0d0d,
             -18px -18px 17px #353535;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px 54.5px;
    position: absolute;
    margin-top: 105px;
    margin-right:0px;
    border-color: transparent;
    margin-left: 100px;
    top: 90%;
    left: 67.3%;
    transform: translateX(-50%) translateY(-50%);
  }

.button-container-div {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

@media only screen and (max-device-width: 1050px) {
  .imgmobile {
    visibility: collapse;
    display: none;
  }

  .hottie {
    margin-left: 40px;
    text-align: center;
    color:#ffffff;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 54%;
    left: 40%;
    transform: translateX(-50%) translateY(-50%);
  }

  .water {
    width: 70px;
    height: 100px;
    margin-left: 40px;
    position: absolute;
    top: 25%;
    left: 40%;
    transform: translateX(-50%) translateY(-50%);
  }

  .FtText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    margin-left: 40px;
    color: #FFFFFF;
    position: absolute;
      top: 35%;
      left: 40%;
      transform: translateX(-50%) translateY(-50%);
  }

  .rounded-corners {
    color:#ffffff;
    border-radius: 7px;
border-radius: 7px;
background: #212121;
box-shadow:  18px 18px 17px #0d0d0d,
             -18px -18px 17px #353535;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      padding: 10px 10px;
      position: absolute;
      margin-top: 23px;
      margin-right: 0px;
      border-color: transparent;
      margin-left: 43%;
      top: 60%;
      left: 5%;
      transform: translateX(-50%) translateY(-50%);
    }

    .rounded-corners1 {
      color:#ffffff;
    border-radius: 7px;
border-radius: 7px;
background: #212121;
box-shadow:  18px 18px 17px #0d0d0d,
             -18px -18px 17px #353535;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px 10px;
    position: absolute;
    margin-top: 175px;
    margin-right: 0px;
    border-color: transparent;
    margin-left: 43%;
    top: 60%;
    left: 5%;
    transform: translateX(-50%) translateY(-50%);
  }

  .rounded-corners2 {
    color:#ffffff;
    border-radius: 7px;
border-radius: 7px;
background: #212121;
box-shadow:  18px 18px 17px #0d0d0d,
             -18px -18px 17px #353535;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px 45px;
    position: absolute;
    margin-top: 345px;
    margin-right: 0px;
    border-color: transparent;
    margin-left: 43%;
    top: 60%;
    left: 5%;
    transform: translateX(-50%) translateY(-50%);
  }

  .rounded-corners3 {
    color:#ffffff;
    border-radius: 7px;
border-radius: 7px;
background: #212121;
box-shadow:  18px 18px 17px #0d0d0d,
             -18px -18px 17px #353535;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px 15px;
    position: absolute;
    margin-top: 100px;
    margin-right: 0px;
    border-color: transparent;
    margin-left: 43%;
    top: 60%;
    left: 5%;
    transform: translateX(-50%) translateY(-50%);
  }

  .rounded-corners4 {
    color:#ffffff;
    border-radius: 7px;
border-radius: 7px;
background: #212121;
box-shadow:  18px 18px 17px #0d0d0d,
             -18px -18px 17px #353535;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px 10px;
    position: absolute;
    margin-top: 250px;
    margin-right: 0px;
    border-color: transparent;
    margin-left: 43%;
    top: 60%;
    left: 5%;
    transform: translateX(-50%) translateY(-50%);
  }
  
  .rounded-corners5 {
    color:#ffffff;
    border-radius: 7px;
border-radius: 7px;
background: #212121;
box-shadow:  18px 18px 17px #0d0d0d,
             -18px -18px 17px #353535;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px 10px;
    position: absolute;
    margin-top: 445px;
    margin-right: 0px;
    border-color: transparent;
    margin-left: 43%;
    top: 60%;
    left: 5%;
    transform: translateX(-50%) translateY(-50%);
  }

  .rounded-corners6 {
    color:#ffffff;
    border-radius: 7px;
border-radius: 7px;
background: #212121;
box-shadow:  18px 18px 17px #0d0d0d,
             -18px -18px 17px #353535;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px 10px;
    position: absolute;
    margin-top: 545px;
    margin-right: 0px;
    border-color: transparent;
    margin-left: 43%;
    top: 60%;
    left: 5%;
    transform: translateX(-50%) translateY(-50%);
  }

}